body{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B3C1FF;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    max-width: 60%;
}


.barra {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 3%;

    
    
    
}
.barra a {
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:200%;
    padding: 20px ;
    max-width: 70vw;
    max-height: 50%;
   
}
.barra a:hover {
    color: #6a85ff;
}
.videos {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    margin-top: 5%;
   
   
}

.imagenes {
    padding-bottom: 2%;
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
  
}
#simbolosigma{
    display: flex;
    justify-content: center;
    padding: 3%;
}